@font-face {
    font-family: 'SF Pro';
    src: url('./assets/font/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Bold';
    src: url('./assets/font/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Semibold';
    src: url('./assets/font/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Heavy';
    src: url('./assets/font/SF-Pro-Display-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Black';
    src: url('./assets/font/SF-Pro-Display-Black.otf') format('opentype');
}

* {
    font-size: 16px;
    color: white;
    list-style: none;
    font-family: 'SF Pro'
}

.bold {
    font-family: 'SF Pro Bold';
}

.semibold {
    font-family: 'SF Pro Semibold';
}

.heavy {
    font-family: 'SF Pro Heavy';
}

.black {
    font-family: 'SF Pro Black';
}

.glass {
    background-color: rgba(211, 211, 211, 0.5);
    backdrop-filter: blur(50px);
}

.glass-less {
    background-color: rgba(235, 235, 235, 0.5);
    backdrop-filter: blur(5px);
}